html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;

    
}

header{
    background-color: #124912
    text-align: left;
    
}

header{
    color:aqua
    /**el primer valor aplica para top bottom y el segundo para lefy **/
    margin: 0 15px;
    text decoration: none;
    font-weight: bold;

}

main{
    flex: 0.1;
    padding: 0;
    text-align: left;
}
